<a href="https://colab.research.google.com/github/Seobway23/laptop/blob/master/01_24_Day4_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. list 합 구하기

ex)
input 10/ output= 1 2 5 10

In [4]:
N=int(input())

for number in range(1,N+1):
    if N%number==0:    
        print(number,end=' ')

10
1 2 5 10

2. List 합 구하기

In [6]:
lst=[1,2,3,4,5]

def list_sum(lst):
    list2_sum=0
    for idx in lst:
        list2_sum+=idx

    return list2_sum

list_sum([1,2,3,4,5])

15

3. Dictionary로 이루어진 list의 합을 구하기

In [9]:
lst3= ({'name':'kim', 'age':12},{'name':'lee','age':4})

def dict_list_sum(lst3):
    sum_dic=0
    for dic in lst3:
        a=dic.get('age')
        sum_dic+=a

    return sum_dic

dict_list_sum(lst3)

16

4. 2차원 list의 전체 합 구하기

In [11]:
lst4=([1],[2,3],[4,5,6],[7,8,9,10])

def all_list_sum(lst4):
    sum_lst4=0
    for idx1 in lst4:
        for idx2 in idx1:
            sum_lst4+=idx2

    return sum_lst4

all_list_sum(lst4)

55

ASCII 코드

A-> 65  
Z-> 109  
a-> 110  
z-> 122

5. 숫자의 의미
정수 숫자-> 영어 아스키 코드 만들기

NameError: ignored