<a href="https://colab.research.google.com/github/Seobway23/Laptop/blob/master/01_30_baekjoon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 개수세기

In [ ]:
total_num=int(input())
lst_num= list(map(int, input().split()))
object_num=int(input())
2
count_num=0

for indi_num in lst_num:
    if indi_num == object_num:
        count_num+=1
    
print(count_num)

11
1 4 1 2 4 2 4 2 3 4 4
5
0

### 배열음을 입력받고 v를 찾는 문제

In [ ]:
N,X=map(int,input().split())
lst_num=list(map(int,input().split()))
rest_lst=[]

for i in lst_num:
    if i<X:
        print(i,end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
N=int(input())
lst_num=list(map(int,input().split()))

a=max(lst_num)
b=min(lst_num)

print(b , a)

5
1 2 3 4 5
1 5

In [ ]:
최댓값

In [55]:
A_list=[]

while True:


    try:
        A=int(input())
        A_list.append(A)

        if len(A_list)==9:
            break

    except ValueError:
        break

C=max(A_list)

print(C)
print(A_list.index(C)+1)

1
2
3
4
5
6
7
8
9
9
8

In [ ]:
A_list=[]

while True:

    A=int(input())
    A_list.append(A)

    if len(A_list)==9:
        break

    # except ValueError:
    #     break

C=max(A_list)

print(C)
print(A_list.index(C)+1)

In [ ]:
while True:
    try:
        A, B = map(int, input().split())
        print(A+B)
    except EOFError:
        break

#while 예외 처리

In [53]:
A1=int(input())
A2=int(input())
A3=int(input())
A4=int(input())
A5=int(input())
A6=int(input())
A7=int(input())
A8=int(input())
A9=int(input())

B=[A1,A2,A3,A4,A5,A6,A7,A8,A9]
C=max(B)


print(C)
print(B.index(C)+1)

1
2
3
4
5
6
7
8
9
9
9

In [56]:
# 굳이 예외처리까지할 필요가 전혀없음
A_list=[]
while True:                     # while 일단 true 만들어
    if len(A_list)==9:          #9가 되면 STOP!
        break

    else:                       #else에 내가 넣고 싶은거 넣으면 끝!
        A=int(input())
        A_list.append(A)


B=max(A_list)

print(B)
print(A_list.index(B)+1)        #list값으로 인덱스 찾는 법
                                # list_name.index(list_value)

1
2
3
4
5
6
7
7
8
8
8

따로따로출력이면
각각 한 줄 씩에 프린트하면 됨

In [66]:
attendance_all=[]
for i in range(1,31):
    attendance_all.append(i)

#print(attendance_all)

while True:
    if len(attendance_all)==2:
        break

    else:
        A=int(input())
        attendance_all.remove(A)
        
print(min(attendance_all))
print(max(attendance_all))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
1
[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
2
[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
3
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
4
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
5
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
6
[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
7
[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
8
[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
9
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
10
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
11
[12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
12
[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
13
[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
14
[15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
15
[16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
18
[16, 17, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
19
[16, 17, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
20
[16, 17, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
21
[16, 17, 22, 23, 24, 25, 26, 27, 28, 29, 30]
22
[16, 17, 23, 24, 25, 26, 27, 28, 29, 30]
23
[16, 17, 24, 25, 26, 27, 28, 29, 30]
24
[16, 17, 25, 26, 27, 28, 29, 30]
25
[16, 17, 26, 27, 28, 29, 30]
26
[16, 17, 27, 28, 29, 30]
27
[16, 17, 28, 29, 30]
28
[16, 17, 29, 30]
29
[16, 17, 30]
30
[16, 17]
[16, 17]

# 재귀함수!

In [68]:
#사용자가 입력한 숫자의 각 자릿수를 출력하는 sum_of_digit

def sum_of_digit(num):
    number=str(num)
    a=[]
    for i in number:
        a.append(int(i))

    return sum(a)

sum_of_digit(1234)


#재귀로 할 생각을 못했네 ㄷㄷ

10

In [70]:
# 멈추기 위해서는 멈추는 조건이 필요
# 조건을 맞추기 위해서 args바뀌어야 함
#N~+...+0

def func(n):
    if n==0:
        return #함수를 멈출 때는 return을 사용

    print(n)
    #args그냥 바뀌어야 함 -> 바꾸면 됨
    func(n-1)

func(1)

1

In [76]:
#언제 멈추냐!
# 1을 위한 args의 변화가 필요함
#+a -> 나의 전 상태를 가지고 나의 상태를 설명한다.

def func(n):
    if n:
        return n

    return func(n-1) + n

In [80]:
def func(number):
    number=str(number)
    if number=='':
        return 0
    return func(number[:-1])+int(number[-1]) # str일 때 return 하자

func(1234)

10

In [84]:
#int일 때 
def func(number):

    quotient=number//10
    remainder=number%10

    if quotient==0:
        return remainder
    return func(quotient)+int(remainder) # str일 때 return 하자

func(1234)

10

In [ ]:
#재귀 함수
#언젠가는 멈춰야 함
#args가 멈추기 위해서는 조건이 숨어있어야 함 
#return값을 사용하기 위해 같은 타입을 갖고 있어야 함
# return의 function을 조합해서 사용한다

In [86]:
# 문제
# 두 자연수 A,B가 있을 때,
#10개를 입력 받은 후 이를 42로 나눈 나머지를 구해라

bronze_2=[]
new_2=[]
while True:
    if len(bronze_2)==10:
        break

    else:
        N=int(input())
        bronze_2.append(N)


for i in bronze_2:
    M=i%42
    new_2.append(M)

    new_new_2=set(new_2)

print(len(new_new_2))

1
2
3
4
5
5

In [87]:
# 첫재쭐 새로운 평균 -> 절대오차 또는 상대오차가 10-2 이하면 정답

num_subject=int(input())
subjects=list(map(int,input().split()))
New_sub_list=[]

for i in subjects:
    New_subject=i/70*100
    New_sub_list.append(New_subject)

#리스트에서 new 과목 점수로 나눴음 -> 새로운 리스트에 넣었음
# 다음 작업은 내일!!!

3
40 50 60