<a href="https://colab.research.google.com/github/Seobway23/Laptop/blob/master/0206.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#getter method and setter method

class Person:

    def __init__(self,age):
        self._age=age

    @property  #getter method -> 변수 값을 읽는 메서드
    def age(self):
        return self._age
 
    @age.setter #setter method -> 변수 값을 설정하는 메서드 if 문
    def age(self, new_age):
        if new_age<=19:
            raise ValueError('Too Young For SSAFY')
            return

        self._age=new_age

1. Getter, Setter
getter -> 변수값 읽는 메서드
public , protected, private  _ 개수로 판별

setter -> 변수 값 설정하는 메서드
raise 

2. 예외처리 
except의 경우
except IndexError as err:
복수의 경우 
except (ValueError, ZerodivisionError):

3. OOP 문법
class MyClass: #클래스 정의
my_instance=MyClass() # 인스턴스 형성

In [2]:
TA_area=lambda b,h:0.5*b*h

In [5]:
print(TA_area(5,6))

15.0

In [9]:
# 재귀 함수

def factorial(n):
    if n==0 or n==1:
        return 1
    else:
    
        return n*factorial(n-1)

print(factorial(4))

24