<a href="https://colab.research.google.com/github/Seobway23/Laptop/blob/master/2023_01_30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2023.01.30 Class, instance

클래스 , 인스턴스

In [81]:
class Person:
    count=0
    def __init__(self, name):
        self.name=name
        Person.count+=1


    @classmethod

    def number_of_population(cls):
        print(f'인구수는 {cls.count}입니다')

person1=Person('아이유')
person2=Person('이찬혁')

Person.number_of_population()
person1.number_of_population()
person2.number_of_population()

인구수는 2입니다
인구수는 2입니다
인구수는 2입니다

데일리과제 7-2. 객체지향 프로그래밍의 이해와 기본 사용 예제 1		
데일리과제 7-4. 객체지향 프로그래밍의 이해와 기본 사용 예제 2

In [46]:
class Pig:
    belly_price=1000 # class 변수

    def __init__(self,stock):
        self.stock=stock



    # 주문이 들어왔을 때 가격 계산
    def order_price(self, amount):
        if self.stock>=amount:
            return self.belly_price*amount
            #클래스 안에 있는 변수라고 얘기해야 함
            #-> self는 class의 모든 정보를 가져올 수 있음

        else:
            return f"재고가 {self.stock}만큼 있습니다."
            #없다고 말해준다
        
        #재고가 있으면 가격을 ㅈ고, 재고가 없으면 재고가 없다고 말해주고 싶습니다.
        pass

    def order(self,amount,money):
        #class안에서 order_price 콜하는 방법
        price=self.order_price(amount)
        if price <=money:
            #재고가 줄어듬
            #거스름돈을 받음
            #print('살 수 있음')
            self.stock=self.stock-amount
            change=money-price
            return change

        else: 
            return '못 사!'




a_pig=Pig(100)
b_pig=Pig(150)
# print(a_pig.stock)
# print(b_pig.stock)


# print(a_pig.order_price(50))

# print(a_pig.order_price(150))
print(a_pig.order(50,100000))

50000

In [80]:
class Pig:
#class 변수 설정
    belly_price = 1000 # 클래스 변수

    def __init__(self,stock):
        self.stock=stock


    #1 B 돼지 할인 80%
    def sales(self,sales_point):
        self.sales_point=sales_point
        sales_price=self.belly_price*sales_point/100

        return sales_price

    #2 원래 가격
    def origin_price(self, ):
        belly_price= self.belly_price
        return self.belly_price



    #3 B돼지 살껴
    def compare_price(self, stocks):
        self.stocks=stocks
        origin_price=stocks*self.belly_price
        sales_price=origin_price*(self.sales_point/100)
        print(self.sales_point)


        return f"원가{origin_price} \n  할인된 가격{int(sales_price)}"



        
        
        
        pass

    #2. 원래 가격 



#3. B돼지 살꺼야

b_pig=Pig(150)
#b_pig.sales(80)
#b_pig.compare_price(50)
b_pig.origin_price()

1000

In [102]:
class Dog:
    num_of_dogs=0
    birth_of_dogs=0

    def __init__(self,name,species):
        self.name=name
        self.species=species

    def bark(self,):
        print('bowowowowowowow')

    def get_status(self,num_dogs):
        self.num_dogs=num_dogs
        if num_dogs>=1:
            self.num_of_dogs+=num_dogs
            self.birth_of_dogs+=num_dogs

        elif num_dogs<=-1:
            self.num_of_dogs-=num_dogs


        return self.birth_of_dogs ,self.num_of_dogs



dog_1=Dog('dog1','spich')
dog_1.bark()
dog_1.get_status(-1)

bowowowowowowow

(0, 1)

### TypeError: bark() takes 0 positional arguments but 1 was given

def bark():  
    print('bowowowowowowow')   
를 하니 위와 같은 에러가 나옴
-> 이 뜻은 파라미터 0개인 함수에다가 파라미터 없이 호출을 해야 하는데, 파라미터를 호출했기 때문임

In [151]:
#주어진 수가 1이 될 때까지 다음 작업을 반복하면, 모든 수를 1로 만들수 있다는 추측


#1 짝수라면 2를 나눈다
#2 홀수라면 3을 곱하고 1을 더한다
#3 결과로 나온 수에 같은 작업을 1이 될 때까지 반복한다.


def collatz(x):
    count_x=0
    while True:
        if x==1:
            if count_x<500:
                return count_x
            else:
                return -1

        else:
            if x%2==0:
                x=int(x/2)
                count_x+=1

            else:
                x=3*x+1
                count_x+=1

111

In [ ]:
collatz(6) #=> 8
collatz(16) #=> 4
collatz(27) #=> 111
collatz(626331) #=> -1

In [142]:
x=6
count_x=0

while True:
    if x==1:
        print('어이')
        print(x)
        break

    else:
        if x%2==0:
            x=int(x/2)
            count_x+=1

        else:
            x=3*x+1
            count_x+=1

3
10
5
16
8
4
2
1
어이
1