<a href="https://colab.research.google.com/github/Seobway23/laptop/blob/master/23_01_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# 문자열이 주어지면, 숫자, 문자, 기호가 몇개인지 출력하는 함수를 만들어봐

def check(input_str):
    char_count=0
    digit_count=0
    symbol_count=0

    for char in input_str:
        if char.isalpha():
            char_count+=1
            
        
        elif char.isdigit():
            digit_count+=1

        else:
            symbol_count+=1

    return char_count,digit_count,symbol_count
    #return은 하나만 할 수 있음 -> 묶어서 해도 됨, 괄호 안써도 됨


input_str="123##$%$%iden_snow"

char_count, digit_count, symbol_count=check(input_str)

print(f"char: {char_count}, digit: {digit_count},symbol: {symbol_count}")



#튜플로 묶여서 반환한다 무슨 뜻? 바뀌지 않는 값을 반환한다는 뜻?

char: 8, digit: 3,symbol: 7

In [ ]:
# 순서가 없는 데이터구조 set-> 집합

In [26]:
s={1,2,3}  # set은 중복을 허용하지 않는 데이터 구조


s.pop() #제거하고 제거한 값을 반환한다.



s

{2, 3}

In [38]:
sample_list=[11,22,33,44,55]

# 주어진 list의 4번째 자리에 있는 항목을 제거하고 변수에 할당해주세요

a=sample_list.pop(3)

print(a)


#sample_list의 가장 뒤에 77을 추가해보세요

sample_list.append(77)
print(sample_list)

#g할당해 놓은 변수의 값을 sample_list의 2번 index에 추가해보세요

sample_list.insert(2, a)
print(sample_list)
# sample_list.insert(index, 넣고 싶은 값)

44
[11, 22, 33, 55, 77]
[11, 22, 44, 33, 55, 77]

In [48]:
my_tuple=(11,22,33,44,55,66)

#주어진 튜플에서 44와 55의 값을 새로운 튜플에 할당해보세요.

new_tuple=my_tuple[3:5]
print(new_tuple)
#튜플은 슬라이싱하면 된다.

(44, 55)