<a href="https://colab.research.google.com/github/Seobway23/Laptop/blob/master/My_first_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1번 review
- 다행히 잘 품
- list, sum 이용하면 됨

In [ ]:
#1
# sum / len을 통해 average 구함
def average(scores):

    list_average=sum(scores)/len(scores)

    return list_average

#ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
if __name__ == '__main__':
    scores = [80, 90, 85, 75]
    print(average(scores))    # 82.5

### 2번 review
- 내장함수 사용 없이 min, max 뽑아내기
- sorted함수 사용했음
- 튜플로 묶어 반환한다-> 숫자로 나타내라

In [ ]:
#2
# python 내장함수 min, max 사용 금지
def min_max(scores):

    len_scores=len(scores)
    sorted_scores=sorted(scores)

    min_max_lst=tuple((sorted_scores[0],sorted_scores[len_scores-1]))

    return min_max_lst


#ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
if __name__ == '__main__':
    scores = [80, 90, 85, 75]
    print(min_max(scores))    #답 (75, 90)

### 3번 review
- values -> sum 이용

### 4번 review
- user_rating 키의 value-> get함수 이용

### 5번 review
- dictionary의 비용key의 value값 .values()
- 1번째꺼 list()화 시킨 후 sum으로 합 구함

### 6번 review
- 나이 age의 value if 문 이용하여 초과하면 +1

### 7번 review
- *number의 경우 tuple로 들어옴
- 입력 1개 일 땐 반드시 [0] 인덱스 추가해야 함
- 2개의 경우 a,b=numbers로 해도 됨
- 3개의 경우 바로 sum(numbers)하면 끝

### 8번  review
- 1) Alp>=97 and Alp>122:
- 2) Alp>65 and Alp>90:
- 사실 이 2개 밖에 모름, 100, 200일 때는 어떻게 해야 할 지 막막함.....

### 9번 review -> 아예 못풀었음
- 재귀함수-> 함수 안에 함수가 있는 함수(내 안에 나 있다)

- if 안에 if

In [ ]:
def dec_to_bin(number):

    if number==0:      # 기저조건1
        return '0'

    elif number==1:    # 기저조건 2
        return '1'

    if (number%2==0):
        return dec_to_bin(number//2)+'0' #재귀 호출

    else:
        return dec_to_bin(number//2)+'1' 


#ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
if __name__ == '__main__':
    print(dec_to_bin(10))  # 답1010
    print(dec_to_bin(5))   # 답101
    print(dec_to_bin(51))  # 답110011

1010
101
110010

In [ ]:
def A_2(num):

    if num==0:
        return '0'

    if num==1:
        return '1'

    if num%2==0:
        return A_2(num//2)

### 10번  review
- 풀 수 있었지만 풀지 못했던 이유  
  1) 쫄았음  
  2) 따로따로 생각했지만, 범위 나누려고 생각못함  
  3) 막상 해보니 쉬움-다행

True
False