<a href="https://colab.research.google.com/github/Seobway23/laptop/blob/master/01_24_Day4_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. list 합 구하기

ex)
input 10/ output= 1 2 5 10

In [4]:
N=int(input())

for number in range(1,N+1):
    if N%number==0:    
        print(number,end=' ')

10
1 2 5 10

2. List 합 구하기

In [6]:
lst=[1,2,3,4,5]

def list_sum(lst):
    list2_sum=0
    for idx in lst:
        list2_sum+=idx

    return list2_sum

list_sum([1,2,3,4,5])

15

3. Dictionary로 이루어진 list의 합을 구하기

In [9]:
lst3= ({'name':'kim', 'age':12},{'name':'lee','age':4})

def dict_list_sum(lst3):
    sum_dic=0
    for dic in lst3:
        a=dic.get('age')
        sum_dic+=a

    return sum_dic

dict_list_sum(lst3)

16

4. 2차원 list의 전체 합 구하기

In [11]:
lst4=([1],[2,3],[4,5,6],[7,8,9,10])

def all_list_sum(lst4):
    sum_lst4=0
    for idx1 in lst4:
        for idx2 in idx1:
            sum_lst4+=idx2

    return sum_lst4

all_list_sum(lst4)

55

ASCII 코드

A-> 65  /  Z->90 /N->97  
Z-> 109  
a-> 110  
z-> 122

5. 숫자의 의미
정수 숫자-> 영어 아스키 코드 만들기

In [30]:
#알파벳-> 아스키 코드 chr  ex) chr(83)='S'
#아스키 -> 알바펫 ord

lst5=[83,115,65,102,89]

def get_secret_word(lst5):
    ssafy=''
    for ascii in lst5:
        a=chr(ascii)
        #print(a)

        #a=ord(ascii)
        #print(a)
        #print(type(a))
        ssafy+=a

    return ssafy


get_secret_word(lst5)

'SsAfY'

6. 내이름은 몇일까?

In [41]:
lst6='happy'

def get_secret_number(lst6):
    name_sum=0
    for a in lst6:
        A=ord(a)
        name_sum+=A

    return name_sum

get_secret_number(lst6)

546

7. 강한 이름  
  아스키 변환 합이 큰 이름을 반환

In [55]:
def get_strong_word(A,B):
    name_sum_A=0
    name_sum_B=0

    for a in A:
        name_sum_A+=ord(a)
        #print(name_sum_A)

    for b in B:
        name_sum_B+=ord(b)
        #print(name_sum_B)
    #print(name_sum_A, name_sum_B)

    if name_sum_A>name_sum_B:
        C=print(A)


    elif name_sum_A<name_sum_B:
        C=print(B)
    
    else:
        C=print(A,B)

    return C

get_strong_word('delilah','dixon')

723 546
delilah